.footer{
    text-align: center;
    height:90px;
    padding-top: 30px;
}

.main-body{
    background-color: #399D9A;
    height:100%;
    padding: 25px;
}

html,
body{
    height: 100%;
    width: 100%;
}

.card-title{
    padding-top: 10px;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
  }
  .question{
    font-weight: 600;
  }
  #question{
    width:450px;
  }
  .answers {
      margin-bottom: 20px;
  }
  #submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #submit:hover{
    background-color: #3a8;
  }
  #previous{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #previous:hover{
    background-color: #3a8;
  }


  .container-fluid{
      padding-top:10px;
  }

  /*Styles for Quiz */

.quiz-container{
  border-radius: 15px;
  width: 500px;
}


ul{
  list-style-type: none;
}

ul lu label{
  cursor:pointer;
}


.buttons {
  margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
  background-color: #074dbe;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1D3C6A;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
  cursor: pointer;
  background-color: #032e74;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
  outline: 0;
}

#progress {
  color: #fff;
  font-size: 18px;
}
a{
  text-decoration: none;
  color:#fff;
}

.play-now{
  background-color: #106cfc;
}

button:hover{
  transform:scale(1.10);
}
